.cardForm {
  display: flex;
  height: 100vh;
  position: relative;
  
  .frontCard{
    position: absolute;
    left: 180px;
    top: 150px;
    
    .topImg{
      position: absolute;
      top: 30px;
      left: 30px;
    }
    
    .frontCardInfo{
      color: white;
      position: absolute;
      top: 140px;
      left: 30px;
      width: 400px;
      
      .cardNumber{
        height: 30px;
        font-size: 28px;
        font-weight: 100;
        letter-spacing: 2px;
      }

      .cardDesc{
        display: flex;
        margin-top: 20px;

        .cardName{
          font-size: 20px;
          letter-spacing: 3px;
          font-weight: 200;
        }

      .cardDate{
        position: absolute;
        right: 0px;
      }
      
      .cardName{
        width: 300px;
        text-transform: capitalize;
      }
      }
    }
  }
  
  .backCard{
    position: absolute;
    top: 450px;
    left: 270px;

    img{
      position: relative;
    }

    .backCardInfo{
      color: white;
      position: absolute;
      top: 110px;
      right: 60px;
      z-index: 9;
      font-size: 18px;
    }
  }
  
  .cardFormLeft {
    flex: 0;
    img{
      height: 100%;
      width: 500px;
    }
  }
  
  .cardFormRight {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;  
      align-items: flex-start;
      justify-content: center;

      label{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1.5px;
      }

      input{
        padding: 10px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &::placeholder{
          color: lightgray;
        }
      }

      .top{
        .cvcLabel{
          margin-left: 60px;
        }
      }

      .bottom{
        .month {
          width: 70px;
          margin-right: 10px;
        }

        .year {
          width: 70px;
          margin-right: 40px;

        }
        
        .cvc{
          width: 200px;
        }
      }
      
      button{
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: black;
        color: white;
        height: 40px;
        margin-top: 20px;
      }
    }
  }
}
