.cardForm {
  display: flex;
  height: 100vh;
  position: relative;
  
  .frontCard{
    position: absolute;
    left: 180px;
    top: 150px;

    .frontCardInfo{
      color: white;
      position: absolute;
      top: 140px;
      left: 30px;

      .cardNumber{
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 5px;
      }

      .cardName, .cardDate{
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 200;
      }

      .cardDesc{
        display: flex;
        justify-content: space-between;
        gap: 220px;
        margin-top: 20px;
      }
    }
  }
  
  .backCard{
    position: absolute;
    top: 450px;
    left: 270px;
  }
  
  .cardFormLeft {
    flex: 0;
    img{
      height: 100%;
      width: 500px;
    }
  }
  
  .cardFormRight {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;  
      align-items: flex-start;
      justify-content: center;

      label{
        font-size: 15px;
        font-weight: 500;
      }

      input{
        padding: 10px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid lightgray;
        &::placeholder{
          color: lightgray;
        }
      }

      .top{
        .cvcLabel{
          margin-left: 39px;
        }
      }

      .bottom{
        .month {
          width: 70px;
          margin-right: 10px;
        }

        .year {
          width: 70px;
          margin-right: 20px;

        }
        
        .cvc{
          width: 200px;
        }
      }
      
      button{
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: black;
        color: white;
        height: 40px;
        margin-top: 20px;
      }
    }
  }
}
